{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" height="35" width="35" style="margin-right: 5px">
    <a class="navbar-brand" href="{{ url_for('index') }}">WiseLog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link" class="nav-title" style="font-size: large" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" class="nav-title" style="font-size: large" href="https://github.com/tonglyu/Wiselog">About</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock navbar%}

{% block content %}
<div class="container-fluid content" id="body-container">
    {% block form %}
    <div class="container-fluid">
        <form action="{{ url_for('search_name') }}" method="post" class="container" id="form"
              role="form" onsubmit="submit" style=" margin:auto; min-width: 1000px; font-size: 1.1em">
            <div class="row">
                <div id="method_radio" class="form-group col-md-6">
                     <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="search_method" id="com_radio"
                               value="name" checked="true">
                        <label class="form-check-label" for="com_radio">Company Name</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="search_method" id="cik_radio"
                               value="cik">
                        <label class="form-check-label" for="cik_radio">CIK Number</label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <label id="keyword_label" for="keyword">Company's name keyword</label>
                    <input type="search" class="form-control" id="keyword" name="keyword"
                           placeholder="Enter a keyword of company's name">
                </div>
                <div id="select_group" class="form-group col-md-5">
                    <label id="select_label" for="selector">Company's Full Name</label>
                    <select class="selectpicker form-control" data-live-search="true" id="selector" name="company_selector"
                    title="Please Select a company's name">
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="start_date">Start Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control" id="start_date" name="start_date" placeholder="YYYY-MM-DD"
                               type="text"/>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <label for="end_date">End Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input class="form-control" id="end_date" name="end_date" placeholder="YYYY-MM-DD"
                               type="text"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-5">
                    <button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
                </div>
            </div>
        </form>
    </div>
    {% endblock form %}

    {% block map %}
    {% endblock map%}
</div>

<script type="text/javascript">

    $('#keyword').change(function () {
        setTimeout(function(){
            $.ajax({
                type:"POST",
                dataType: "json",
                url:"/searchCom",
                data: $('form').serialize(),
                success:function(data){
                    console.log(data)
                    $("#selector").empty();
                    var len=data.length;
                    for(i=0;i<len;i++){
                        $("#selector").append($("<option name=\"selector\" value='" + data[i].cik + "'>" + data[i].name + "</option>"));
                    }
                    $('#selector').selectpicker("refresh");
                }
            })
        },200)
    })

    $('#method_radio').change(function () {
        var selector = $("input[name='search_method']:checked").val();
        if (selector === 'cik') {
            $('#keyword_label').text("CIK Number");
            $('#keyword').attr("placeholder", "Enter company's cik number");
            $('#select_group').attr("style","display:none");
        } else {
            $('#keyword_label').text("Company's name keyword");
            $('#keyword').attr("placeholder", "Enter a keyword of company's name");
            $('#select_group').attr("style","display:''");
        }
    });


    $('#start_date').datepicker({
        format: "yyyy-mm-dd",
        startView: 1,
        maxViewMode: 1,
        minViewMode: 0,
        autoclose: true,
        readonly: true,
        startDate: "2016-01-01",
        endDate: "2016-12-31"
    }).on("changeDate",function(){
        $("#end_date").datepicker("setStartDate",$("#start_date").val())
    });

    $('#end_date').datepicker({
        format: "yyyy-mm-dd",
        startView: 1,
        maxViewMode: 1,
        minViewMode: 0,
        autoclose: true,
        readonly: true,
        startDate: "2016-01-01",
        endDate: "2016-12-31"
    }).on("changeDate",function(){
        $("#start_date").datepicker("setEndDate",$("#end_date").val())
    });

    $('#submit-btn').click(function () {
        var itemList = $('#loading');
		itemList.innerHTML = '<p class="notice"><i class="fa fa-spinner fa-spin"></i> '
				+ "Loading results, please wait...." + '</p>';
    })
</script>
{% endblock content%}

