{% extends "base.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="{{ url_for('static', filename='images/logo.svg') }}" height="35" width="35" style="margin-right: 5px">
    <a class="navbar-brand" href="{{ url_for('index') }}">WiseLog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{{ url_for('index') }}">Search</a>
            <!--<a class="nav-item nav-link" href="https://github.com/ZiweiYuan/UnivBoard">Github</a>-->
        </div>
    </div>
</nav>
{% endblock navbar%}

{% block content %}
<section>
    <div class="container-fluid">
        <h1>Hi, {{ user.username }}!</h1>
        <!--{% for post in posts %}-->
        <!--<div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>-->
        <!--{% endfor %}-->
        <div class="card">
            <div class="card-header">
                Company Name
            </div>
            <div class="card-body">
                <form action="{{ url_for('search_name') }}" method="post" class="tab-pane fade show active" id="form" role="form" onsubmit="submit">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="search-input">Company name</label>
                            <input type="search" class="form-control" id="com_name" name="com_name" placeholder="Enter company's name" value="{{ request.form['com_name'] }}">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <button type="submit" class="btn btn-outline-info">Search</button>
                    </div>
                </form>
            </div>
        </div>



        {% block map %}
        {% endblock map%}
    </div>
</section>

{% endblock content%}

