{% extends "index.html" %}

{% block map %}
<div class="col-md-10" id="map-container">
    <div id="map">
    </div>
</div>
<script>
    var data = {{ data |tojson}}
    console.log(typeof (data))
    Highcharts.mapChart('map', {
        chart: {
            map: 'custom/world',
            borderWidth: 1
        },

        // colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
        //     'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

        title: {
            text: 'Population density by country (/km²)'
        },

        mapNavigation: {
            enabled: true
        },
        colorAxis: {
            type: 'logarithmic',
            endOnTick: false,
            startOnTick: false,
            min: 50000
        },
        series: [{
            data: data,
            joinBy: ['iso-a2', 'country'],
            animation: true,
            name: 'Access Count',
            states: {
                hover: {
                    color: '#a4edba'
                }
            },
            tooltip: {
                valueSuffix: 'times'
            },
            shadow: false
        }]
    });

</script>
{% endblock map%}}