{% extends "index.html" %}

{% block map %}
<div class="col-md-10" id="map-container">
    <div id="map">
    </div>
    <div> {{city}}</div>
</div>
<script>
    var country_data = {{ country_data | tojson }}
    var city_data = {{ city_data | tojson }}
    Highcharts.mapChart('map', {
        chart: {
            map: 'custom/world',
            borderWidth: 1
        },

        // colors: ['rgba(19,64,117,0.05)', 'rgba(19,64,117,0.2)', 'rgba(19,64,117,0.4)',
        //     'rgba(19,64,117,0.5)', 'rgba(19,64,117,0.6)', 'rgba(19,64,117,0.8)', 'rgba(19,64,117,1)'],

        title: {
            text: 'Access Count for different countries'
        },

        mapNavigation: {
            enabled: true
        },
        colorAxis: {
            type: 'logarithmic',
            endOnTick: false,
            startOnTick: true,
        },
        series: [{
            data: country_data,
            joinBy: ['iso-a2', 'country'],
            animation: true,
            name: 'Access Count',
            states: {
                hover: {
                    color: '#a4edba'
                }
            },
            tooltip: {
                valueSuffix: 'times'
            },
            shadow: false
        }, {
            type: 'mappoint',
            name: 'Cities',
            data: city_data,
            marker: {
                lineWidth: 1,
                lineColor: '#000',

            },
            colorAxis: true,
            showInLegend: false,
            tooltip: {
                pointFormat: '{point.name}, {point.country}<br>' +
                'Access count: {point.value}'
            },
            dataLabels: {
                enabled: true,
                crop: true,
                format: '{point.name}'
            },
        }]
    });

</script>
{% endblock map%}}