#map {
    height: 70%;
    min-width: 310px;
    max-width: 1000px;
    width:auto;
    margin: 0 auto;
}

#body-container {
    height: 100vh;
    position:relative;
}

#map-container {
    height: 80vh;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.nav-title {
    font-size: x-large;
}