#map {
    height: 100%;
    min-width: 310px;
    max-width: 2000px;
    width:auto;
    margin: 0 auto;
}

#body-container {
    height: 100%;
    position:relative;
}

#map-container {
    height: 100%;
    position:absolute;
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.nav-title {
    font-size: x-large;
}